/build/
/modules/
/.libs/
/autom4te.cache/
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/configure
/libtool
/Makefile
/Makefile.fragments
/Makefile.objects
/run-tests.php
/hello_zig.dep
/hello_zig.la
/hello_zig.lo
/zig/.zig-cache/
/zig/zig-out/
